<footer class="footer">
    <div class="wrapper">
        <h2 class="footer__title">Urlaubsglück</h2>
        <div class="company-wrapper">
            <ul class="footer-menu">
                <li class="footer-menu__title">Company</li>
                <li class="footer-menu__item">About</li>
                <li class="footer-menu__item">Contacts</li>
                <li class="footer-menu__item">Press</li>
                <li class="footer-menu__item">Blog</li>
            </ul>
        </div>
        <div class="partners-wrapper">
            <ul class="footer-menu">
                <li class="footer-menu__title">Partners</li>
            </ul>
        </div>
        <div class="designed-by">
            <p class="designed-by__text">Designed by</p>
            <p class="designed-by__logo"></p>
        </div>
    </div>
</footer>

