@font-face {
    font-family: 'helvetica_neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),

         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),

         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body{
    height: 100%;
}

body{
	background: #282828 url(../img/bg_content.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: 'helvetica_neue', Tahoma, sans-serif;
	font-size: 14px;
}

/* HEADER */


.header{
	position: relative;
	overflow: hidden;
	background-image: url(../img/bg_header.png);
	height: 36px;
}

.wrapper{
	margin: 0 auto;
	width: 1215px;
}

.header li, .header img, .header p{
	display: block;
	float: right;
}

.header a, .header p{
	line-height: 36px;
}

.enter{
	display: block;
	float: right;
	margin: 0 19px 0 17px;
	padding: 0 13px;
	background-image: url(../img/bg_header_enter.png);
}

.header p, .enter a, .enter span{
	color: white;
}

.header_img{
	margin-top: 6px;
	margin-right: 10px;
}

.header_img2{
	margin: 3px 19px 0 12px;
}

.menu a{
	display: block;
	padding: 0 10px;
	color: #60b5ed;
	text-decoration: none;
}

.menu a:hover{
	background-color: #4eabda;
	color: white;
}


/* CONTENT */

.content{
    position: relative;
	min-height: 100%;
}

.form{
	margin-left: -280px;
	margin-top: -330px;
	width: 560px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
}

.form h1{
	font-size: 24px;
}

.form h1, form{
	background-color: rgba(0,0,0,0.63);
}

.form h1{
	margin-bottom: 2px;
	line-height: 62px;
	color: white;
}

.form{
	color: #cccccc;
}

.facebook_btn{
	line-height: 34px;
	padding: 36px 0 32px 0;
	width: 276px;
	margin: 0 auto;
}

.facebook_btn a{
	display: block;
	background: rgba(61,88,157,1);
	background: -moz-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,88,157,1)), color-stop(100%, rgba(44,65,120,1)));
	background: -webkit-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
	background: -o-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
	background: -ms-linear-gradient(top, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
	background: linear-gradient(to bottom, rgba(61,88,157,1) 0%, rgba(44,65,120,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d589d', endColorstr='#2c4178', GradientType=0 );
	color: white;
	text-align: left;
	text-decoration: none;
	font-size: 16px;
	border-top: 1px solid #778ab4;
	border-radius: 4px;
}

.facebook_btn a:hover{
	background: rgba(44,65,120,1);
	background: -moz-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(44,65,120,1)), color-stop(100%, rgba(61,88,157,1)));
	background: -webkit-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
	background: -o-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
	background: -ms-linear-gradient(top, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
	background: linear-gradient(to bottom, rgba(44,65,120,1) 0%, rgba(61,88,157,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c4178', endColorstr='#3d589d', GradientType=0 );
}

.facebook_btn a img{
	vertical-align: middle;
	margin-top: -3px;
}

.form .facebook_btn span{
    display: inline;
    font-size: inherit;
    font-weight: bold;
    padding: 0 6px 0 6px;

}

.form .facebook_btn span:nth-of-type(1){
	padding-left: 34px;
}

.form .facebook_btn span:nth-of-type(3){
	padding-left: 20px;
}

.ou_line{
	background: url(../img/form_ou.png) no-repeat center;
	text-transform: uppercase;
	color: #999999;
	margin-bottom: 30px;
}

.form .text_input{
	margin: 0 auto 18px auto;
	text-align: center;
}

.form .text_input input{
	color: #fffbfb;
	width: 240px;
	background-color: #0f0f0f;
	padding: 12px 18px;
	border: 0;
	box-shadow: 0px 1px 0px 0px #4b4b4b;
}

.form .text_input input:focus{
	color: #fffbfb;
	background: #1b5288;
	border: 0;
	border-bottom: 1px #1f5384 solid;
	-webkit-box-shadow: 0px 0px 7px 2px rgba(47,123,197,1);
	-moz-box-shadow: 0px 0px 7px 2px rgba(47,123,197,1);
	box-shadow: 0px 0px 7px 2px rgba(47,123,197,1);
}

.checkbox{
	margin-left: 143px;
	text-align: left;
}

.form .checkbox input{
	width: initial;
	margin: 1px 6px 0 0;
	vertical-align:top;
}

.form input[type="submit"]{
	margin: 23px 0 22px 0;
	width: 151px;
	height: 37px;
	border: 1px solid #6bb8e7;
	border-radius: 3px;
	background: rgba(80,175,219,1);
	background: -moz-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(80,175,219,1)), color-stop(100%, rgba(46,121,196,1)));
	background: -webkit-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
	background: -o-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
	background: linear-gradient(to bottom, rgba(80,175,219,1) 0%, rgba(46,121,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50afdb', endColorstr='#2e79c4', GradientType=0 );
	color: white;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
}

.form input[type="submit"]:hover{
	background: rgba(46,121,196,1);
	background: -moz-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,121,196,1)), color-stop(100%, rgba(80,175,219,1)));
	background: -webkit-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
	background: -o-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
	background: -ms-linear-gradient(top, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
	background: linear-gradient(to bottom, rgba(46,121,196,1) 0%, rgba(80,175,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e79c4', endColorstr='#50afdb', GradientType=0 );
	cursor: pointer;
}

.form span{
	font-size: 11px;
	display: block;
	line-height: 15px;
}

.form span:last-child{
    padding-bottom: 20px;
}