div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #FFFFFF;
   -moz-box-shadow: 0px 1px 5px #000000;
   -webkit-box-shadow: 0px 1px 5px #000000;
   box-shadow: 0px 1px 5px #000000;
}
#Banner1
{
   background-color: transparent;
   background-image: url(images/Image01.png);
   background-repeat: repeat;
   background-position: left top;
   border: 0px #A0A0A0 solid;
   color: #191970;
   font-family: Tahoma;
   font-weight: bold;
   font-size: 37px;
   text-align: center;
   text-shadow: 2px 2px 4px rgba(65,105,225,1.00);
}
#Banner1 span
{
   display: block;
   height: 37px;
   margin: 119px 0px 119px 10px;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text2 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text6 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#jQueryButton3
{
   font-family: Arial;
   font-weight: bold;
   font-size: 21px;
   font-style: normal;
}
#wb_jQueryButton3 .ui-button-text
{
   padding: 0;
   line-height: 38px;
}
#jQueryButton3
{
   color: #2779AA;
}
#jQueryButton3 :hover
{
   color: #0070A3;
}
#jQueryButton3 :active
{
   color: #FFFFFF;
}
#wb_jQueryButton3 .ui-button-text-icon .ui-button-icon-primary,
#wb_jQueryButton3 .ui-button-text-icons .ui-button-icon-primary,
#wb_jQueryButton3 .ui-button-icons-only .ui-button-icon-primary
{
   left: auto;
   right: 10px;
}
#wb_jQueryButton3 .ui-button-text-icons .ui-button-icon-secondary,
#wb_jQueryButton3 .ui-button-icons-only .ui-button-icon-secondary
{
   right: auto;
   left: 10px;
}
#wb_TextMenu1
{
   background-color: transparent;
   color :#696969;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_TextMenu1 span
{
   margin: 0 4px 0 0px;
}
#NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li
{
   height: 25px;
   width: 140px;
   float: left;
   margin: 0 6px 0 0;
}
#NavigationBar1 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar1 ul.navbar li span
{
   display: block;
   height: 25px;
   width: 140px;
   position: absolute;
   z-index: 2;
}
#NavigationBar1 a .hover
{
   visibility: hidden;
}
#NavigationBar1 a:hover .hover
{
   visibility: visible;
}
#NavigationBar1 a:hover span
{
   visibility: hidden;
}
#PageFooter1
{
   background-color: #DCDCDC;
   -moz-box-shadow: 0px -1px 3px #000000;
   -webkit-box-shadow: 0px -1px 3px #000000;
   box-shadow: 0px -1px 3px #000000;
}
