body{
	background-color: black;
}

table{
	background-color: black;
	margin: 100px auto;
	width: 700px;
	height: 700px;
}

td{
	border: 5px black solid;
	text-align: center;
}

table .white{
	background-color: white;
}

table .red{
	background-color: red;
}

table .yellow{
	background-color: yellow;
}

table .blue{
	background-color: blue;
}

table .black{
	background-color: #191919;
}

table .transparent{
	background-color: black;
}