table{
	margin: 100px;
	border-collapse: collapse;
	/*width: 400px;*/ 
	border: hidden;
}
tr{
	height: 50px;
}
td{
	border: 5px solid #000;
	width: 50px;
}

/* SIZES*/

td[colspan="2"]{
	width: 100px;
}

td[colspan="3"]{
	width: 150px;
}

td[colspan="4"]{
	width: 200px;
}

/*td[rowspan="2"]{
	height: 100px;
}

td[rowspan="3"]{
	height: 150px;
}

td[rowspan="4"]{
	height: 200px;
}*/

/* COLORS*/

.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}

.blue{
	background-color: blue;
}

.black{
	background-color: #191919;
}
