body{
	background: #282828 url(../img/background.jpg) center 0 no-repeat;
	font-family: Tahoma, sans-serif;
}

.wrapper{
	margin: 0 auto;
	width: 960px;
	color: #e6e6e6;
	padding-top: 53px;
}

/* HEADER */

.header{
	position: relative;
	overflow: hidden;
}

.logo{
	padding-top: 4px;
	padding-left: 70px;
}


.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.contacts{
	float: right;
	padding: 99px 86px 0 0;
	font-size: 8px;
}

.contacts li:first-child{
	padding-bottom: 5px;
	font-weight: bold;
	font-size: 10px;
}

/* CONTENT */

.content{
	padding-left: 69px;
	padding-right: 72px;
	text-align: center;
	font-size: 15px;
}

.country{
	float: left;
	padding-bottom: 50px;
	width: 265px;
}

.country:nth-child(2){
	padding: 0 12px;
}

.country:nth-child(5){
	padding: 0 12px;
}

.country_photo{
	display: block;
}

.country a{
	text-decoration: none;
	color: #e6e6e6;
}

/* FOOTER */

.footer{
	padding-top: 137px;
	text-align: center;
	font-size: 10px;
}

