/** {
	margin: 0;
	padding: 0;
} */

body {
	background: #eeeeee;
}

.wrapper{
	margin: auto;
	padding: 0 60px;
	width: 515px;
	background: white;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	border: 1px solid #d5d5d5;
}

/* HEADER */

.header{
	border-bottom: 1px solid #7a7a7a;
}

h1{
	text-align: center;
}

.header_img {
	display: block;
    margin: 0 auto;
	width: 134px;
	border-radius: 20px;
	/*hspace="157"*/
}

.sentence{
	margin-top: 30px;
	margin-bottom: 30px;
}

/* ARTICLE */

.article{
	border-bottom: 1px solid #7a7a7a;
	margin-top: 30px;
	margin-bottom: 30px;
}

.article ul{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 0 30px;
}
.block{
	margin-top: 30px;
	margin-bottom: 30px;
}

.block span{
	display: block;
}

/* FOOTER */

.footer{
	margin-top: 30px;
	margin-bottom: 30px;
}

	