.header-upper {
  // margin-bottom: 38px;
  // height: 110px;
  line-height: 37px;
  padding: 37px 0;
  overflow: hidden;
}

.logo {
  background:transparent url('../img/logo.png') left top no-repeat;
  float: left;
  padding-left: 52px;
  line-height: 100%;
}

.logo__header {

}

.logo__text {

}

.menu-socials {
  float: right;
  height: 37px;
}

.menu-socials__item {
  @include menu-item;
  width: 33px;
  color: #cccccc;

  &::before {
    @include fa;
  }

  &:hover {
    cursor: pointer;
    color: #248cec;
  }
}

.facebook:before {
  @include fa(facebook);
}

.twitter:before {
  @include fa(twitter);
}

.rss:before {
  @include fa(rss);
}

.linkedin:before {
  @include fa(linkedin);
}

.skype:before {
  @include fa(skype);
}

.menu-main__item {
  @include menu-item;
  line-height: 56px;
  padding: 0 40px;

  &:last-child {
    float: right;
    padding: 0;
  }
}

.menu-main__search {
  margin: 6px;
  padding: 0 12px;
  line-height: 44px;
  border: 1px solid black;

  &:after {
    @include fa;
    @include fa(search);
    @include fa(left);
  }

  & input {
    border: 0;
  }
}



