.header-upper {
  line-height: 37px;
  padding: 37px 0;
  overflow: hidden;
}

.logo {
  background:transparent url('../img/logo.png') left top no-repeat;
  float: left;
  padding-left: 52px;
  line-height: 100%;
}

.logo__header {
  color: $logo-header-color;
}

.logo__text {
  color: $logo-paragraph-color;
}

.menu-socials {
  float: right;
  height: 37px;
}

.menu-socials__item {
  display: inline-block;
  width: 33px;
  color: $very-light-gray;

  &::before {
    @include fa;
  }

  &:hover {
    cursor: pointer;
    color: $blue;
  }
}

.facebook:before {
  @include fa(facebook);
}

.twitter:before {
  @include fa(twitter);
}

.rss:before {
  @include fa(rss);
}

.linkedin:before {
  @include fa(linkedin);
}

.skype:before {
  @include fa(skype);
}

.menu-main__item {
  display: inline-block;
  border-right: 1px solid $almost-black;

  &:last-child {
    float: right;
    padding: 0;
    border: 0;
  }

  &--active {
    background-color: $blue;
    border: 0;
  }
}

.menu-main {
  background-color: $dark-gray;
}

.menu-main__link {
  display: block;
  padding: 0 40px;
  line-height: 56px;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover {
    color: $yellow;
  }
}

.menu-main__search {
  margin: 8px;
  padding: 0 12px;
  line-height: 40px;
  border: 1px solid $almost-black;
  background-color: $gray;
  color: $white;

  &:after {
    @include fa;
    @include fa(search);
    @include fa(left);
  }

  & input {
    border: 0;
    background-color: $gray;
  
    &:focus {
      outline: none;
    }
  }
}



