#slider
{
visibility:hidden; 
}	
#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider li{ 
	width:900px;
	height:630px;
	overflow:hidden; 
	}	
#prevBtn, #nextBtn{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-30px;
	top:276px;
	}	
#nextBtn{ 
	left:900px;
	}														
#prevBtn a, #nextBtn a{  
	display:block;
	width:30px;
	height:77px;
	background:url(btn_prev.png) no-repeat 0 0;	
	}	
#nextBtn a{ 
	background:url(btn_next.png) no-repeat 0 0;	
	}
ol#controls{
	margin:1em 0;
	padding:0;
	height:28px;	
	}
ol#controls li{
	margin:0 10px 0 0; 
	padding:0;
	float:left;
	list-style:none;
	height:28px;
	line-height:28px;
	}
ol#controls li a{
	float:left;
	height:28px;
	line-height:28px;
	border:1px solid #CCCCCC;
	background:#5DC9E1;
	color:#555;
	padding:0 10px;
	text-decoration:none;
	}
ol#controls li.current a{
	background:#DAF3F8;
	color:#FFFFFF;
	}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

	