@media (min-width: 320px) {

/* HEADER */

.header{
	height: 515px;
}

.heading2--header{
	display: inline-block;
	margin: 68px auto 0 auto;
	width: 100%;
	text-align: center;
}

.menu--header{
	display: none;
}

.menu--header--less768{
	position: absolute;
	overflow: hidden;
	display: block;
	margin: 0 13%; 
	top: 130px;
	width: 74%;
	text-align: center;
	z-index: 1;
	opacity: 0.9;
}

.menu__item--header{
	margin: 0 auto;
	display: none;
	float: none;
	height: 39px;
	border-top: 1px solid #55425d;
	border-bottom: 1px solid #3e3046;
}

.menu__item--first{
	border-bottom: none;
}

.menu__item--last{
	display: block;
	border-top: none;
	border-bottom: none;
}

.menu__item--header:hover{
	background: rgba(0,0,0,0.3);
}

.menu--header:hover{
	height: auto;
	background-color: #36293e;
	border: 1px solid #051116;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	border: 1px solid #3f3247;
	border-top: 1px solid #5f486a;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.75);
}

.menu--header:hover .menu__item{
	display: block;
}

.menu__link{
	padding: 0;
	margin: 0;
	line-height: 33px;
}

.menu__link--current{
	display: inline;
	padding: 0 3px;
	border-bottom: 3px solid #edbfff;
}

.article--slider{
	float: none;
	margin-left: 14%;
}

.heading1{
	font-size: 36px;
}

.heading3{
	font-size: 18px;
}

.article__text--slider{
	display: none;
}

/* END OF HEADER */

/* MAIN */

/* VIOLET BLOCK*/

.violet_block{
	height: 596px;
}

.article__left--violet_block{
	padding-left: 50px;
	padding-top: 70px;
}

.article__right--violet_block{
	padding-left: 50px;
	padding-top: 66px;
}

.article__center--violet_block{
	padding-left: 50px;
	padding-top: 80px;
}

/* END OF VIOLET BLOCK */

/* NEWS BLOCK */

.news{
	height: 785px;
}

.article--news{
	margin: 0 20px 0 20px;
}

.article__left--news{
	margin-top: 97px;
	padding-left: 60px;
    padding-right: 45px;
}

.menu__news{
	margin-top: 58px;
}

.article__right--news{
	margin-top: 50px;
}

.heading4--gray--less768{
	margin-bottom: 20px;
}

.news__link{
	margin-bottom: 15px;
	padding-left: 64px;
}

.article__text--news{
	height: 167px;
}

.article__text--news--bold{
	width: 155px;
	height: 24px;
}

.article__text--news--line{
	width: 214px;
	height: 26px;
}

/* END OF NEWS */

/* IMAGES*/

.images{
	height: 425px;
}

.images__menu{
	padding: 50px 40px 0 40px;
	width: 100%;
}

.menu__item--images{
	margin-bottom: 60px;
}

.menu__item--images:nth-of-type(odd){
	float: right;
}

.menu__item--images:nth-of-type(even){
	display: block;
}

/* END OF IMAGES*/

/* COMMENTS BLOCK */

.comments{
	display: none;
}

/* END OF COMMENTS */

/* END OF MAIN */

/* FOOTER */

.footer{
	height: 200px;
}

.menu--footer{
	display: none;
}

.footer__text{
	padding-top: 42px;
	text-align: center;
}

/* END OF FOOTER */

}


@media (min-width: 480px) {

/* HEADER */

.header{
	height: 548px;
}

.menu--header--less768{
	margin-left: 24%;
	margin-bottom: 95px;
	width: 51%;
}

.slider{
	margin-top: 94px;
	height: 245px;
	background: rgba(0,0,0,0.2);
}

.slider__arrow{
	margin-top: 102px;
}

.slider__wrapper--inner{
    width: 90%;
}

.article--slider{
	float: left;
	margin-left: 16px;
	padding-top: 100px;
	width: 49%;
}

.heading3{
	overflow: hidden;
	height: 20px;
	letter-spacing: 0.1px;
}

.slider__img{
	float: right;
    display: block;
    margin-top: -10px;
    margin-right: 12px;
    width: 192px;
}

.menu__slider{
	position: absolute;
    margin-top: 20px;
}

/* END OF HEADER */

/* MAIN */

/* VIOLET BLOCK*/

.article--violet_block{
	margin: 0 20px;
}

/* END OF VIOLET BLOCK */

/* NEWS BLOCK */

.heading4--gray{
	display: inline;
	font-size: 30px;
}

.heading4--pink{
	font-size: 30px;
}

.article__head{
	margin-bottom: 25px;
}

.article__text--news{
	width: 100%;
}

.menu__news{
	margin-top: 60px;
}

.article__right--news{
	margin-left: 80px;
}

.heading4--gray--less768{
	display: block;
	padding-bottom: 20px;
}

.article__text--news--line{
	width: 82%;
}

.article__link--news--less768{
	margin-right: 46px;
}

/* END OF NEWS */

/* IMAGES*/

.images{
	height: 230px;
}

.images__menu{
	padding-top: 40px;
	width: 100%;
}

.menu__item--images:nth-of-type(n+1){
	float: none;
	display: block;
	margin-bottom: 26px;
	margin-right: 55px;
}

.menu__item--images:nth-of-type(1){
	position: absolute;
	left: 13%;
}

.menu__item--images:nth-of-type(2){
	position: absolute;
	left: 44%;
}

.menu__item--images:nth-of-type(3){
	position: absolute;
	right: 2%;
}

.menu__item--images:nth-of-type(4){
	position: absolute;
	top: 140px;
	left: 10%;
}

.menu__item--images:nth-of-type(5){
	position: absolute;
	top: 140px;
	left: 41%;
}

.menu__item--images:nth-of-type(6){
	position: absolute;
	top: 140px;
	right: 0%;
}

/* END OF IMAGES*/

/* COMMENTS BLOCK */

.comments{
	display: block;
}

.article--comments{
	margin: 0 20px; 
	padding-bottom: 65px;
}

.article__left--comments{
	display: none;
}

.article__left--comments--less768{
	display: block;
	padding-top: 80px;
}

.article__center--comments{
	display: none;
}

.article__center--comments--less768{
	display: block;
}

.heading4--comments{
	display: block;
	margin-bottom: 10px;
}

.article__text--comments{
	overflow: hidden;
	height: 120px;
}

/* END OF COMMENTS */

/* END OF MAIN */

/* FOOTER */

.menu--footer{
	display: block;
	width: 95%;
	margin: 48px 5% 30px 5%;
}

.menu__item--footer{
	float: left;
	margin-right: 5%;
}

.menu__link--footer--last{
	margin-right: 0;
}

/* END OF FOOTER */

}

