body{
	background: #282828;
}

.wrapper{
	background: white;
	padding: 0 44px;
	width: 912px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/*.clearfix:after{
	display: block;
	content: '';
	clear: both;
}*/

/* HEADER */

header {
	position: relative;
	overflow: hidden;
	/*margin-left: 2px;*/
	padding-top: 17px;
	margin-bottom: 10px;
}

header .tel, header p, header form{
	float: left;
}

header .tel{
	margin-top: 2px;
}

header p{
	/*width: 264px;*/
	/*height: 17px;*/
	margin-top: 3px;
	color: #5e696d;
	font-family: Arial;
	font-size: 18px;
	/*font-weight: 400;*/
	line-height: 26px;
}

header .login_form{
	width: 495px;
	height: 26px;
	/*background-color: #b1bcc0;*/
	background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
	border-radius: 4px;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
}

header .login_form img{
	margin-top: 5px;
	margin-left: 3px;
}

header .login_form input, header .login_form a, .login_form span{
	vertical-align: super;
}

header .login_form input{
	width: 115px;
	height: 16px;
	background-color: white;
	border: 1px solid #9ba1a3;
	font-size: 11px;
}

header .login_form a, .login_form span{
	color: white;
	text-decoration: none;
	font-size: 11px;
}

header .login_form a:last-child{
	font-size: 12px;
	color: #bfbfbf;
	text-decoration: underline;
}

header .site_map{
	float: right;
	margin-top: 2px;
	display: inline-block;
	width: 77px;
	height: 19px;
	/*background-color: white;*/
	border: 1px solid #bdc4c7;
	border-radius: 12px;
}

header .site_map li{
	float: left;
}

header .site_map a{
	margin-left: 8px;
	display: inline-block;
	background-image: url(../img/site_map.png);
	height: 10px;
}

header .home{
	width: 11px;
}

header .net{
	width: 13px;
	background-position: -13px 0;
}

header .letter{
	width: 10px;
	background-position: -28px 0;
}

/* END OF HEADER */

.banner{
	margin-left: 2px;
	margin-bottom: 6px;
}

/* NAV */

.main_menu{
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	height: 34px;
	background-image: linear-gradient(to top, black 0%, #576068 100%);
	border: 1px solid #0d1642;
	border-radius: 5px;
	box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.75);
}

.main_menu ul{
	margin-left: 125px;
}

.main_menu li{
	float: left;
}

.main_menu a{
	display: block;
	margin-top: 4px;
	padding: 0 20px;
	border-radius: 12px;
	line-height: 24px;
	color: #b1bcc0;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.main_menu a:hover{
	background-image: linear-gradient(180deg, #206988 0%, #114165 59%, #0c3256 100%);
	color: white;
}

.main_menu .basket{
	display: table;
	float: right;
	margin-right: 13px;
	line-height: 34px;
}

.main_menu .basket p{
	display: table-cell;
	vertical-align: middle;
}

.main_menu img{
	padding-right: 6px;
}

.main_menu .basket p{
	font-family: Arial;
	font-size: 11px;
	color: #929b9f;
}

.main_menu .basket .sum{
	padding: 0 10px;
}

.main_menu .basket .number{
	padding-top: 1px;
	font-size: 12px;
	color: #0d5a8f;
}

/* END OF NAV */

/* MAIN */

main{
	position: relative;
	overflow: hidden;
	margin-top: 12px;
}

/* LEFT SIDEBAR */

.left_sidebar{
	float: left;
	margin-right: 8px;
}

.left_sidebar p{
	text-transform: uppercase;
	font-size: 14px;
	color: #114165;
}

.left_sidebar>p{
	margin-bottom: 14px;
	width: 183px;
	line-height: 25px;
	border: 1px solid #79878d;
	border-radius: 13px;
	box-shadow: 1.5px 2.6px 3px rgba(150, 150, 150, 0.75);
	font-size: 13px;
}

.left_sidebar p img{
	margin: -3px 2px 0 4px;
	vertical-align: middle;
}

.left_sidebar .left_menu li{
	line-height: 26px;
}

.left_sidebar .left_menu>li p{
	width: 150px;
	border: 1px solid #79878d;
	border-radius: 14px;
}

/*.left_sidebar .left_menu>li p img{
	margin: -3px 2px 0 4px;
	vertical-align: middle;
}*/

.left_sidebar .inner_menu{
	list-style: circle;
	text-indent: -8px;
}

.left_sidebar .inner_menu li{
	margin-left: 35px;
}

.left_sidebar a{
	display: block;
	text-decoration: none;
	font-size: 13px;
	color: #465961;
}

.left_sidebar a:hover{
	text-decoration: underline;
	font-family: Arial;
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	color: #0c3256;
}

/* SECTION GOODS*/

.goods{
	position: relative;
	overflow: hidden;
	width: 526px;
	height: 627px;
	background-image: linear-gradient(to top, rgba(35, 75, 93, 0.24) 0%, rgba(201, 207, 209, 0.24) 100%);
	border-radius: 3px;
}

.goods figure{
	display: inline-block;
}